[flake8]
max-line-length = 88
extend-ignore = E203,E221
exclude =
    fetch_gbif.py
    moth_nonmoth_dataset.py
    taxon_keys.py
    fetch_gbif_moth_data_serial.py
    fetch_gbif_moth_data_serial.ipynb
    03_download_images/fetch_gbif_moth_data.py
    03_download_images/fetch_gbif_moth_data2.py
    helper_scripts/calculate_data_stats.py
