[flake8]
max-line-length = 88
extend-ignore = E203,E221
exclude =
    fetch_gbif.py
    moth_nonmoth_dataset.py
    taxon_keys.py
    fetch_images_serial.py
    fetch_images_serial.ipynb
    03_download_images/fetch_images_split_dwca.py
    03_download_images/fetch_images_whole_dwca.py
