__pycache__/
.ipynb_checkpoints/
log_files/
02_preprocess_dwca/split_log.log
03_download_images/download_log_files
03_download_images/data_stats_log_files

data_stats_files

helper_scripts/data_stats_log_files/
helper_scripts/plots/

species_checklists/
.DS_Store

*.py[cod]
*$py.class

*.out
*.stats
